@model IEnumerable<junjieComWebApp.Controllers.table_service_request>

@{
    ViewBag.Title = "Index";
}

<br>
<center><h5>MISAMIS OCCIDENTAL WATER DISTRICT</h5></center>
<center><h6>Ozamiz City</h6></center>
<center><h6>WAIVER</h6></center>
<br>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.request_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nature_of_request)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.table_concessionaire.last_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.request_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nature_of_request)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.table_concessionaire.last_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.service_request_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.service_request_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.service_request_id })
        </td>
    </tr>
}

</table>
