@model IEnumerable<junjieComWebApp.Controllers.table_watermeter_receipt>

@{
    ViewBag.Title = "Index";
}

<br>
<center><h5>MISAMIS OCCIDENTAL WATER DISTRICT</h5></center>
<center><h6>Ozamiz City</h6></center>
<center><h6>Watermeter Receipt List</h6></center>
<br>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.actual_date_installed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.watermeter_receipt_remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.installed_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.table_concessionaire.last_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.actual_date_installed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.watermeter_receipt_remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.installed_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.table_concessionaire.last_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.watermeter_receipt_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.watermeter_receipt_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.watermeter_receipt_id })
        </td>
    </tr>
}

</table>
