@model junjieComWebApp.Controllers.table_maintenance_order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>table_maintenance_order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maintenance_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maintenance_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nature_of_maintenance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nature_of_maintenance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maintenance_remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maintenance_remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.table_concessionaire.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.table_concessionaire.last_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maintenance_order_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
