@model IEnumerable<junjieComWebApp.Controllers.table_maintenance_order>

@{
    ViewBag.Title = "Index";
}

<br>
<center><h5>MISAMIS OCCIDENTAL WATER DISTRICT</h5></center>
<center><h6>Ozamiz City</h6></center>
<center><h6>Maintenance Order List</h6></center>
<br>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maintenance_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nature_of_maintenance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maintenance_remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.table_concessionaire.last_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maintenance_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nature_of_maintenance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maintenance_remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.table_concessionaire.last_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maintenance_order_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.maintenance_order_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maintenance_order_id })
        </td>
    </tr>
}

</table>
