@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MOWD Concessionaire</h1>
    <p class="lead">This website can view a list of records, create a record, update a record, delete a record of the Concessionaire's Profile.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("concessionaire", "Index", "concessionaire")</h2>
        <p>Please enter the concessionaire's profile</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("watermeter_receipt", "Index", "watermeter_receipt")</h2>
        <p>Please enter the watermeter receipt data</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("service_request", "Index", "service_request")</h2>
        <p>Please enter the service request data</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("maintenance_order", "Index", "maintenance_order")</h2>
        <p>Please enter the maintenance order data</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("waiver", "Index", "waiver")</h2>
        <p>Please enter the waiver data</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("promissory_note", "Index", "promissory_note")</h2>
        <p>Please enter the promissory note data</p>
    </div>
</div>